{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block navbar %}{% endblock %}
{% block body %}
<div class="background-div">
  <div class="w-100 h-100 container">
    <div class="w-100 h-100 d-flex align-items-center justify-content-center">
      <div class="p-5 bg-white rounded-4 shadow" style="min-width:400px; width:30%;">
        <form method="post">
          <div class="d-flex flex-column gap-3">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
            <h1 class="h3 mb-1 fw-bold text-center">UMAD</h1>
            <div>
              <label class="fw-light" for="inputEmail">Email</label>
              <input type="email" value="{{ last_username }}" name="_username" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            </div>
            <div>
              <label class="fw-light" for="inputPassword">Password</label>
              <input type="password" name="_password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            </div>
            <input type="hidden" name="_csrf_token"
                  value="{{ csrf_token('authenticate') }}">
            {# <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div> #}
            <button class="btn btn-lg btn-primary" type="submit">
                Iniciar Sesión
            </button>
          </div>            
        </form>
      </div>      
    </div>   
  </div>
</div>
{% endblock %}
