{% extends '@!EasyAdmin/page/content.html.twig' %}

{# {% block title %}Hello UserController!{% endblock %} #}

{% block main %}
{# <style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style> #}
<div class="example-wrapper">
  <form id="elform" action="" method="post">
    <div class="d-flex justify-content-between align-items-center w-100">
      <h1>Crear Pedido</h1>
      <button type="submit" class="btn btn-primary">Crear nuevo pedido</button>
    </div>
    <div class="mb-3">
      <label for="healthCenter" class="form-label d-block">Seleccionar Centro que solicita el pedido</label>
      <select name="healthCenter" class="p-2 rounded-1" id="healthCenter">
        <option value="" style="color:gray">Seleccionar centro</option>
        {% for healthCenter in healthCenters %}
          <option value="{{healthCenter.id}}">{{healthCenter.name}}</option>
        {% endfor %}
      </select>
    </div>

    <div>
      <label for="producto" class="form-label d-block">Añadir Productos</label>
      <div class="d-flex gap-3 my-1">
        <select name="producto[]" class="p-1 w-100 rounded-1" style="border: 1px solid gray" id="product">
          <option value="" style="color:gray">Seleccione un producto</option>
          {% for producto in productos %}
            <option value="{{producto.id}}">{{producto.name}}</option>
          {% endfor %}
        </select>
        <input type="number" name="cantidad[]">
      </div>
    </div>
    
    <div id="eldiv"></div>

    <button type="button" onclick="add()" class="mt-1 p-1 rounded-1 border-secondary">Añadir producto</button>
    <div class="my-3">
      <label for="memo" class="form-label">Añadir memo</label>
      <textarea class="form-control" name="memo" id="memo" rows="2" maxlength="255" style="background-color:transparent; border-color:gray;"></textarea>
    </div>
  </form>
</div>

  <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
  <script type="text/javascript">
  function add(){
    $('#eldiv').append(
    '<div class="d-flex gap-3 my-1"><select name="producto[]" class="p-1 w-100 rounded-1" style="border: 1px solid gray"><option value="" style="color:gray">Seleccione un producto</option>{% for producto in productos %}<option value="{{producto.id}}">{{producto.name}}</option>{% endfor %}</select><input type="number" name="cantidad[]"></div>');
  }
  </script>
{% endblock %}
