{% extends '@!EasyAdmin/page/content.html.twig' %}
{% block main %}
<div class="w-100 h-100">
  <div class="p-4 w-100 h-100">
    <h1 class="font-bold">PEDIDO #{{order.id}}</h1>
    <p>creado el dia {{order.createdAt | date("d/m/y h:m") }}</p>
    <p>memo: {{order.memo}}</p>
    <p>usuario que solicito el pedido {{order.user.email}} ({{order.user.name}} {{order.user.lastname}})</p>
    <P>CENTRO DE ENTREGA ASOCIADO AL PEDIDO</P>
    <p>Nombre: {{order.healthCenter.name}}</p>
    <p>Direccion: {{order.healthCenter.address}}</p>
    <p>Numero: {{order.healthCenter.phonenumber}}</p>
    <p>Dia de entrega: {{order.healthCenter.shipmentDay}}</p>
  </div>
  <h1>PRODUCTOS DEL PEDIDO</h1>
  {% for product in products %}
    <div class="d-flex gap-5 w-100">
      <p>NOMBRE: {{product.product.name}}</p>
      <p>DESCRIPCION: {{product.product.description}}</p>
      <p>CANTIDAD SOLICITADA: {{product.quantityRequested}}</p>
      <div class="d-flex">
        <p>CANTIDAD A ENVIAR: </p><input type="number">
      </div>
      {# <p>CANTIDAD ENVIADA: {{product.quantitySent}}</p> #}
      {# <p>CANTIDAD SOLICITADA: {{product.quantityRequested}}</p> #}
      <p>STOCK Q TENGO DEL PRODUCTO: {{product.product.stock}}</p>
    </div>
  {% endfor %}
</div>
{% endblock %}