{% extends 'base.html.twig' %}

{% block body %}
{# <style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style> #}
<div class="gradient-bg">
  <div class="container w-100 h-100">
    <div class="d-flex flex-column pt-3 w-100 mh-100 h-100">
    <div class="d-flex justify-content-between align-items-center" style="margin-top:3.5rem; margin-bottom:1.5rem;">
        <div class="d-flex flex-column gap-1">
          <h3 class="mb-0">Agregar Muestras médicas</h3>
          <p class="text-secondary mb-0" style="font-size: .9rem">Detallá el listado de ingreso de muestras médicas, especificando productos y cantidades de stock.</p>
        </div>
        <div class="d-flex justify-content-end gap-2" >
          <a href="/muestras" class="btn btn-outline-secondary p-1 rounded-1 fw-light">Ir a Muestras</a>
          <a href="/home" class="btn btn-outline-secondary p-1 rounded-1 fw-light">Ir a Inicio</a>
        </div>
      </div>
      
      <div style="height:65%; max-height:65%">
        <form id="elform" action="" method="post" class="d-flex gap-3 mh-100 h-100 ">
          <div class="w-100 h-100 d-flex flex-column justify-content-between bg-white p-4 rounded-3 border">
              {# <input list="searchable-products">
              <datalist id="searchable-products">
                {% for producto in productos %}
                    <option value="{{producto.id}}">{{producto.name}}</option>
                  {% endfor %}
              </datalist> #}
            <div class="d-flex flex-column w-100 h-100 overflow-auto px-3">
              <div class="d-flex justify-content-between gap-3">
                <div class="d-flex flex-column w-75" id="product-input-div">
                  <p for="producto" class="d-block fw-light mb-1" style="">Añadir Muestras</p>
                  <select required name="producto[]" class="my-1 p-1 w-100 fw-light products" style="border-top:none; border-left:none; border-right:none; border-bottom: 1px solid grey; outline:none; font-size: .9rem" id="product">
                    <option value="" style="color:gray;">Seleccione un producto</option>
                    {% for producto in productos %}
                      <option value="{{producto.id}}" style="">{{producto.name}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="d-flex flex-column w-25" id="quantity-input-div">
                  <p for="producto" class="d-block mb-1 fw-light" style="">Seleccionar Cantidad</p>
                  <input required type="number" name="cantidad[]" class="my-1 p-1 quantitys" min="0" style="border-top:none; border-left:none; border-right:none; outline:none;border-bottom: 1px solid grey; font-size:.9rem; height:29px;">
                </div>
              </div>
              <p id="messageText" style="font-size: .85rem;" class="text-secondary mb-0"></p>
              <p type="button" id="buttonAdd" class="stylized-btn mt-2">Agregar otra muestra</p>
            </div>
            <input type="submit" value="Submit"  class="btn btn-outline-primary"/>
          </div>
        </form>
      </div>
      <div class="d-flex flex-column text-secondary pt-3 pb-0" style="font-size: .85rem;">
    <div class="d-flex align-items-center gap-2">
      <i class="dot"></i>
      <p class="mb-0">Ayuda:</p>
    </div>
    <p class="mb-0 ms-3">- Si pretende solicitar un producto pero se permite recibir otro, especificar en memo. (Ej: solicité un insumo de X laboratorio pero me permito recibir de algún otro)</p>
    <p class="mb-0 ms-3">- No duplicar productos en el pedido.</p>
  </div>
    </div>
  </div>
</div>

  <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
  <script type="text/javascript">

  function valuesAreSetted(){
    const products = document.querySelectorAll('.products');
    let productBool = false;
    const quantitys = document.querySelectorAll('.quantitys');
    let quantityBool = false;
    for (const product of products) {
      if (product.value.trim() === '') {
        productBool = false;
      } else {
        productBool = true;
      }
    }
    for (const quantity of quantitys) {
      if (quantity.value.trim() === '') {
        quantityBool = false;
      } else {
        quantityBool = true;
      }
    }
    if (quantityBool && productBool){
      return true
    } else {
      return false
    }
  }

  const buttonAdd = document.getElementById('buttonAdd');
  const messageText = document.getElementById('messageText');
  buttonAdd.addEventListener('click', () => {
    if (valuesAreSetted()) {
      messageText.innerHTML = '';
      add();
    } else {
      messageText.innerHTML = 'Completá la fila anterior para agregar otro producto al pedido.'
    }
  });

  function add(){
    $('#product-input-div').append(
    '<select required name="producto[]" class="p-1 w-100 fw-light my-1 products" style="border: 1px solid gray; font-size:.9rem; border-top:none; border-left:none; border-right:none; border-bottom: 1px solid grey; outline:none;"><option value="" style="color:gray">Seleccione un producto</option>{% for producto in productos %}<option value="{{producto.id}}">{{producto.name}}</option>{% endfor %}</select>');
    $('#quantity-input-div').append(
      '<input required type="number" name="cantidad[]" class="my-1 p-1 quantitys" style="border-top:none; border-left:none; border-right:none; border-bottom: 1px solid grey; outline:none; font-size:.9rem; height:29px;">'
    )
  }

    $('textarea').keyup(function() {    
    var characterCount = $(this).val().length,
        current_count = $('#current_count'),
        maximum_count = $('#maximum_count'),
        count = $('#count');    
        current_count.text(characterCount);        
});
  </script>
{% endblock %}