{% extends 'base.html.twig' %}

{% block title %}Hello MedicalSamplesUserController!{% endblock %}

{% block body %}

<style>
.dot {
  height: 6px;
  width: 6px;
  background-color: grey;
  border-radius: 50%;
  display: inline-block;
}
</style>
  <div class="gradient-bg">
    <div class="container w-100 h-100">
      <div class="w-100 h-100 d-flex flex-column mt-3">
        <div class="d-flex justify-content-between align-items-center" style="margin-top:3.5rem; margin-bottom:1.5rem;">
          <div class="d-flex flex-column gap-1">
            <h3 class="mb-0">Muestras médicas</h3>
            <p class="text-secondary mb-0" style="font-size: .9rem">Listado de muestras médicas pertenecientes al centro de salud <a href="{{ path('app_health_index', {'healthcenter' : app.user.getHealthCenter() }) }}">{{app.user.healthCenter}}</a>.</p>
          </div>
          <a href="{{ path('app_medical_samples_new') }}" style="font-size:.95rem" class="btn btn-primary p-1"><i class="fa-solid fa-plus"></i> Muestra Medica</a>
        </div>
        <div class="table-responsive bg-white rounded-2 border p-3" style="height:65%; max-height:65%">
          <table class="table table-hover mw-100">
            <thead>
              <tr style="font-size:.9rem">
                <th scope="col">#</th>
                <th scope="col">Stock</th>
                <th scope="col">Fecha de vencimiento</th>
                <th scope="col">Centro de salud</th>
                <th scope="col">Producto</th>
                {# <th scope="col">Centro de salud</th> #}
              </tr>
            </thead>
            <tbody>
               {% for sample in pagination %} 
                <tr style="font-size:0.85rem">
                  <td class="fw-light">{{ sample.id}}</td>
                  <td class="fw-light">{{ sample.stock }}</td>
                  <td class="fw-light">{{ sample.expirationDate | date("d/m/y h:m") }}</td>
                  <td class="fw-light">{{ sample.healthCenter }}</td>
                  <td class="fw-light">{{ sample.product.name }}</td>
                  {# <td class="fw-light">{{ order.healthCenter }}</td> #}
                  {# <td>
                  <a href="{{ path('app_order_show', {'id': order.id}) }}" class="d-flex w-100justify-content-center">Ver</a>
                  </td> #}
                </tr>
               {% endfor %} 
            </tbody>
          </table>
        {{knp_pagination_render(pagination)}}    
        </div>
        <div class="d-flex flex-column text-secondary pt-3 pb-0" style="font-size: .85rem;">
          <div class="d-flex align-items-center gap-2">
            <i class="dot"></i>
            <p class="mb-0">Ayuda:</p>
          </div>
          <p class="mb-0 ms-3">- La administración de las muestras médicas (stock y productos) es responsabilidad del encargado del centro.</p>
          {# <p class="mb-0 ms-3">- Para eliminar una muestra médica, contactá con el encargado del centro.</p> #}
        </div>
      </div>
    </div>
  </div>

{% endblock %}