{% extends 'base.html.twig' %}

{% block title %}Muestras Médicas | UMAD {% endblock %}

{% block body %}
  <div class="gradient-bg">
    <div class="container w-100 h-100">
      <div class="w-100 h-100 d-flex flex-column mt-3">
        <div class="d-flex justify-content-between align-items-center title-header-container">
          <div class="d-flex flex-column gap-1">
            <h3 class="mb-0">Muestras médicas</h3>
            <p class="text-secondary mb-0 subtext-header">Listado de muestras médicas pertenecientes al centro de salud: <span class="text-dark">{{app.user.healthCenter}}</span>.</p>
          </div>
          <a href="{{ path('app_medical_samples_new') }}" style="font-size:.95rem" class="btn btn-primary p-1"><i class="fa-solid fa-plus"></i> Muestra Medica</a>
        </div>
        <div class="table-responsive bg-white rounded-2 border medical-table stylized-table">
          <table class="table table-hover mw-100 mb-0">
            <thead>
              <tr class="custom-table-header">
                <th scope="col">#</th>
                <th scope="col">Stock</th>
                <th scope="col">Fecha de carga</th>
                <th scope="col">Fecha Modificación</th>
                <th scope="col">Vencimiento</th>
                <th scope="col">Producto</th>
                <th scope="col" class="text-center">Acciones</th>
              </tr>
            </thead>
            <tbody >
               {% for sample in pagination %} 
                <tr class="table-body-text" id="row-{{loop.index}}">
                  <td class="fw-light" id="sample-{{ loop.index }}" data-sample-id="{{sample.id}}">{{ sample.id}}</td>
                  <td class="fw-light" id="stock-{{loop.index}}" data-stock={{sample.stock}}>{{ sample.stock }}</td>
                  <td class="fw-light">{{ sample.createdAt | date("d/m/Y") }}</td>
                  <td class="fw-light">{{ sample.modifiedAt ? sample.modifiedAt | date("d/m/Y") : 'No hubo modificación.' }}</td>
                  <td class="fw-light">{{ sample.expirationDate | date("d/m/Y") }}</td>
                  <td class="fw-light">{{ sample.product.name }}</td>
                  <td class="d-flex justify-content-center gap-1" id="actions-{{loop.index}}">
                    <button class="btn btn-secondary p-0 btn-sm px-1 editBtn" id="editBtn-{{loop.index}}" data-target="stock-{{loop.index}}" onClick="showEdit({{loop.index}})" style="font-size: .8rem">editar</button>
                    <button type="button" class="btn btn-danger p-0 btn-sm px-1" data-bs-toggle="modal" data-bs-target="#deleteModal-{{loop.index}}"><i class="fa fa-trash"></i></button>
                    <div class="modal fade" id="deleteModal-{{loop.index}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="d-flex flex-column align-items-center p-2">
                          <p class="mb-0">Seguro que desea eliminar?</p>
                          <div class="d-flex gap-2 align-items-center">
                            <form action="{{path
                              ('deleteSample', { 'id': sample.id })}}" method="POST">
                              <!-- agregar alerta por si se misclickeó-->
                              <button class="btn btn-danger p-1 btn-sm px-1" type="submit" style="font-size: .8rem">Eliminar</button>
                            </form>
                          <button type="button" class="btn btn-sm btn-secondary p-1 px-1" style="font-size: .8rem" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  </td>
                </tr>
               {% endfor %} 
            </tbody>
          </table>
            
        </div>
        <div class="d-flex justify-content-between gap-2 pt-3">
          <div class="d-flex flex-column text-secondary pb-0 footer-text">
            <div class="d-flex align-items-center gap-2">
              <i class="dot"></i>
              <p class="mb-0">Ayuda:</p>
            </div>
            <p class="mb-0 ms-3">- La administración de las muestras médicas (stock y productos) es responsabilidad del encargado del centro.</p>
            {# <p class="mb-0 ms-3">- Para eliminar una muestra médica, contactá con el encargado del centro.</p> #}
          </div>
          <div>
           {{knp_pagination_render(pagination)}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
  function showEdit(index) {
    const tdactions = document.querySelector(`#actions-${index}`);
    const stockInput = document.querySelector(`#stock-${index}`);
    const stockValue = document.querySelector(`#stock-${index}`).getAttribute('data-stock');
    const sampleId = document.querySelector(`#sample-${index}`).getAttribute('data-sample-id');
    const editBtn = document.querySelector(`#editBtn-${index}`)

    console.log(editBtn);
    
    stockInput.innerHTML = `<form class="d-flex gap-1" method="POST" action="muestra/${sampleId}/update"><input type="number" placeholder="${stockValue}" required name="stockQuantity" class="d-flex p-0 border-0" style="outline: 1px solid gray; width:50px"></input><button type="submit" class="btn btn-primary p-0 btn-sm px-1" style="font-size: .8rem"><i class="fa-solid fa-check"></i></button></form>`;
    editBtn.outerHTML = `<button class="btn btn-secondary p-0 btn-sm px-1 editBtn" id="editBtn-${index}" data-target="stock-${index}" onClick="undoEdit(${index})" style="font-size: .8rem">cancelar</button>`
  }
  function undoEdit(index){
    const editBtn = document.querySelector(`#editBtn-${index}`)
    const tdactions = document.querySelector(`#actions-${index}`);
    const stockInput = document.querySelector(`#stock-${index}`);
    const stockValue = document.querySelector(`#stock-${index}`).getAttribute('data-stock');
    const sampleId = document.querySelector(`#sample-${index}`).getAttribute('data-sample-id');

    stockInput.innerHTML = `<td class="fw-light" id="stock-${index}" data-stock=${stockValue}>${stockValue}</td>`;
    editBtn.outerHTML = `<button class="btn btn-secondary p-0 btn-sm px-1 editBtn" id="editBtn-${index}" data-target="stock-${index}" onClick="showEdit(${index})" style="font-size: .8rem">editar</button>`
  }
  </script>
{% endblock %}