{% extends 'base.html.twig' %}
{% block body %}
<div class="gradient-bg">
  <div class="container w-100 h-100">
    <div class="w-100 h-100 d-flex flex-column mt-3">
      <div class="d-flex justify-content-between align-items-center" style="margin-top:3.5rem; margin-bottom:1.5rem;">
        <div class="d-flex flex-column gap-1">
          <h3 class="mb-0">{{healthcenter.name}}</h3>
          <p class="text-secondary mb-0" style="font-size: .9rem">Detalle del centro de salud.</p>
        </div>
        <div class="d-flex justify-content-end gap-2" >
          <a href="/pedidos" class="btn btn-outline-secondary p-1 rounded-1 fw-light">Ir a Pedidos</a>
          <a href="/home" class="btn btn-outline-secondary p-1 rounded-1 fw-light">Ir a Inicio</a>
        </div>
      </div>
      <div style="height:65%; max-height:65%">
        <div class="d-flex flex-column w-100 h-100 overflow-auto">
          <div class="d-flex justify-content-between gap-3">
            <div class="w-75 h-100 d-flex flex-column gap-2 bg-white p-4 rounded-3 border">
                <p class="fw-normal mb-0 border-bottom">usuario encargado: <span class="fw-light">{{healthcenter.user.lastname}} {{healthcenter.user.name}} | {{healthcenter.user.email}}</span></p>
                <p class="fw-normal mb-0 border-bottom">direccion: <span class="fw-light">{{healthcenter.address}}</span></p>
                <p class="fw-normal mb-0 border-bottom">telefono: <span class="fw-light">{{healthcenter.phonenumber}}</span></p>
                <p class="fw-normal mb-0 border-bottom">dia de entrega asociado (determinado por administradora): <span class="fw-light">{{healthcenter.shipmentDay}}</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}