{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<table class="table">
   <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Creado</th>
        <th scope="col">Memo</th>
        <th scope="col">Usuario</th>
        <th scope="col">Estado</th>
        <th scope="col">Centro de salud</th>
        <th scope="col">Ver orden</th>
        </tr>
        </thead>
    <tbody>
{% for order in orders %} 
    <tr>
      <td class="fw-light">{{ order.id }}</td>
      <td class="fw-light">{{ order.createdAt | date("d/m/y h:m") }}</td>
      <td class="fw-light">{{ order.memo }}</td>
      <td class="fw-light">{{ order.user }}</td>
      <td class="fw-light">{{ order.status }}</td>
      <td class="fw-light">{{ order.healthCenter }}</td>
      <td>
      <a href="{{ path('app_order_show', {'id': order.id}) }}">show</a>
      </td>
    </tr>
{% endfor %}
    </tbody>
</table>

<a href="#" class="btn btn-primary">Crear un pedido</a>

{% endblock %}