{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<style>
.dot {
  height: 6px;
  width: 6px;
  background-color: grey;
  border-radius: 50%;
  display: inline-block;
}
</style>
  <div class="gradient-bg">
    <div class="container w-100 h-100">
      <div class="w-100 h-100 d-flex flex-column mt-3">
        <div class="d-flex justify-content-between align-items-center" style="margin-top:3.5rem; margin-bottom:1.5rem;">
          <div class="d-flex flex-column gap-1">
            <h3 class="mb-0">Historial de pedidos</h3>
            <p class="text-secondary mb-0" style="font-size: .9rem">Detalle de pedidos hasta el día de la fecha, perteneciente al centro de salud: <a href="/centro/{{app.user.getHealthCenter()}}">{{app.user.getHealthCenter()}}</a>.</p>
          </div>
          <div>
          
          <a href="/pedidos/nuevo" class="btn btn-primary p-1">Crear Pedido</a>

            <button type="button" class="btn btn-outline-dark p-1" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Filtrar
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Filtrar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body" style="font-size: 0.9rem">
                    <p class="fw-light mb-1">Por Estado:</p>
                    <button class="btn btn-outline-primary p-1 rounded-1" onClick="getFilteredOrders(3);" style="font-size: 0.9rem">Ver Rechazados</button>
                    <button class="btn btn-outline-primary p-1 rounded-1" onClick="getFilteredOrders(2);" style="font-size: 0.9rem">Ver Autorizados</button>
                    <button class="btn btn-outline-primary p-1 rounded-1" onClick="getFilteredOrders(1);" style="font-size: 0.9rem">Ver Enviados</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive bg-white rounded-2 border p-3" style="height:65%; max-height:65%">
          <table class="table table-hover mw-100">
            <thead>
              <tr style="font-size:.9rem">
                <th scope="col">#</th>
                <th scope="col">Creado</th>
                <th scope="col">Memo</th>
                <th scope="col">Usuario</th>
                <th scope="col">Estado</th>
                {# <th scope="col">Centro de salud</th> #}
                <th scope="col">Ver orden</th>
              </tr>
            </thead>
            <div id="notification"></div>
            {% if pagination %}
              <tbody id="table-body">
                {% for order in pagination %} 
                  <tr style="font-size:0.85rem">
                    <td class="fw-light">{{ order.id }}</td>
                    <td class="fw-light">{{ order.createdAt | date("d/m/y h:i") }}</td>
                    <td class="fw-light">{{ order.memo ? (order.memo|length > 50 ? order.memo|slice(0,50) ~ '...' : order.memo) : ('No se especificó memo') }}</td>
                    <td class="fw-light">{{ order.user.lastname }} {{ order.user.name }}</td>
                    <td class="fw-light">{{ order.status == 'Recibido' ? 'Enviado' : order.status}}</td>
                    {# <td class="fw-light">{{ order.healthCenter }}</td> #}
                    <td>
                    <a href="{{ path('app_order_show', {'id': order.id}) }}" class="d-flex">Ver</a>
                    <a href="{{ path('pedidos_pdf', {'id': order.id}) }}">Download PDF</a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
              {% else %}
                <p>No se encontró ningún pedido. Puede ser que no se haya realizado ninguno o que no hay pedidos que cumplan con el filtro.</p>
              {% endif %}
          </table>
          {{knp_pagination_render(pagination)}}
        </div>
        <div class="d-flex flex-column text-secondary pt-3 pb-0" style="font-size: .85rem;">
          <div class="d-flex align-items-center gap-2">
            <i class="dot"></i>
            <p class="mb-0">Ayuda:</p>
          </div>
          <p class="mb-0 ms-3">- En caso de querer cancelar un pedido, contactar con la administradora y solicitar un pedido nuevo.</p>
          <p class="mb-0 ms-3">- Por cuestiones de integridad de la información, no es posible editar los pedidos.</p>
        </div>
      </div>
    </div>
  </div>

  {% block javascripts %}
    {{ parent() }}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
      <script>
        function getFilteredOrders(id){
          fetch(`/pedidos/filtrar/${id}`)
          .then(response => response.json())
          .then(data => {
              const filteredOrdersDiv = document.getElementById('table-body');
              const notification = document.getElementById('notification');
              filteredOrdersDiv.innerHTML='';
              // Code to display the list of data goes here
              if(data.length > 0){
                data.forEach(order => {
                  filteredOrdersDiv.innerHTML+=`<tr style="font-size:0.85rem"><td class="fw-light">${order.id}</td><td class="fw-light">${moment(order.created_at.date.slice(0,16)).format('DD/MM/YY hh:mm')}</td><td class="fw-light">${order.memo ? (order.memo.length>50 ? (order.memo.slice(0,47) + "...") : (order.memo) ) : ('No se especificó memo') }</td><td class="fw-light">${order.user}</td><td class="fw-light">${order.status == 'Recibido' ? 'Enviado' : order.status}</td><td><a href="/pedidos/${order.id}">ver</a></td></tr>`
                });
                console.log(data)
              } else {
                notification.innerHTML = '<p>No se encontró ningún pedido. Puede ser que no se haya realizado ninguno o que no hay pedidos que cumplan con el filtro.</p>'
              }
              
          })
          .catch(error => {
              console.error('Error fetching orders list:', error);
          });
        }
      </script>
  {% endblock %}
{% endblock %}