{% extends 'base.html.twig' %}


{% block body %}
{# <div class="position-static">
  <h1 class="">Descripción del pedido</h1>
  <h3 class="">Pedido realizado el {{order.createdAt | date("d/m/y h:m")}} </h3>
</div> #}

<div class="gradient-bg">
  <div class="container w-100 h-100">
    <div class="d-flex flex-column h-100 w-100 mt-3">
      <div class="d-flex justify-content-between align-items-center" style="margin-top:3.5rem; margin-bottom:1.5rem;">
        <div class="d-flex flex-column gap-1">
          <h3 class="mb-0">Pedido #{{order.id}}</h3>
          <p class="text-secondary mb-0" style="font-size: .9rem">Detalle de productos del pedido.</p>
        </div>
        <div class="d-flex justify-content-end gap-2" >
          <a href="/pedidos" class="btn btn-outline-secondary p-1 rounded-1 fw-light">Ir a Pedidos</a>
          <a href="/home" class="btn btn-outline-secondary p-1 rounded-1 fw-light">Ir a Inicio</a>
        </div>
      </div>
      <div class="d-flex gap-3 w-100" style="height:65%; max-height:65%">
        <div class="table-responsive bg-white rounded-3 border p-3 w-75 h-100">
          <table class="table table-hover mw-100">
            <thead>
              <tr style="font-size:.9rem">
                <th scope="col">Producto</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Cantidad solicitada</th>
                <th scope="col">Cantidad recibida</th>
                {# <th scope="col">Estado</th> #]
                {# <th scope="col">Centro de salud</th> #}
                {# <th scope="col">Ver orden</th> #}
              </tr>
            </thead>
            <tbody>
              {% for product in products %} 
                <tr style="font-size:0.85rem">
                  <td class="fw-light">{{ product.product.name }}</td>
                  <td class="fw-light">{{ product.product.description }}</td>
                  <td class="fw-light">{{ product.quantityRequested }}</td>
                  <td class="fw-light">{{ product.quantitySent ? product.quantitySent : '-' }}</td>
                  {# <td class="fw-light">{{ order.healthCenter }}</td> #}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="w-25 h-100 justify-content-between bg-white d-flex flex-column rounded-3 overflow-hidden">  
            <div class="d-flex flex-column">
              <img src="/images/producto.jpg" height="130" alt="imagen producto" style="object-fit:cover">
              <div class="p-4 d-flex flex-column gap-2 justify-content-center">
                <div>
                  <p class="mb-0 fst-normal text-dark" style="font-size: .9rem">Fecha de creación del pedido:</p>
                  <p class="fw-light mb-0" style="font-size: .85rem">{{order.createdAt | date("d/m/y h:m")}}</p>
                </div>
                <div>
                  <p class="mb-0 fst-normal text-dark" style="font-size: .9rem">Usuario que solicitó el pedido:</p>
                  <p class="fw-light mb-0" style="font-size: .85rem">{{order.user.lastname}} {{ order.user.name }} | {{ order.user.email }}</p>
                </div>
                <div>
                  <p class="mb-0 fst-normal text-dark" style="font-size: .9rem">Centro de salud:</p>
                  <a class="fw-light text-decoration-none" style="font-size: .85rem;" href="/micentro">{{ order.healthCenter }}</a>
                </div>
                <div>
                  <p class="mb-1 fst-normal text-dark" style="font-size: .9rem">Memo:</p>
                  <textarea class="w-100 rounded-1 p-2 fw-light" name="memo" id="texto" rows="2" maxlength="125" style="background-color:transparent; border-color:gray; font-size:0.85rem">{{ order.memo ? order.memo : 'No se detalló un memo.'}}</textarea>
                </div>
                <div>
                  <p class="mb-0 fst-normal text-dark" style="font-size: .9rem">Estado:</p>
                  <p class="fw-light mb-0" style="font-size: .85rem">{{ order.status == 'Recibido' ? 'Enviado' : order.status }} FALTA PUNTITO</p>
                </div>
              </div>
            </div>
        <div>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column text-secondary pt-3 pb-0" style="font-size: .85rem;">
    <div class="d-flex align-items-center gap-2">
      <i class="dot"></i>
      <p class="mb-0">Ayuda:</p>
    </div>
    <p class="mb-0 ms-3">- Si no aparece la cantidad recibida del pedido, puede ser por 2 variantes:</p>
    <p class="mb-0 ms-3">1) El pedido no se revisó por lo que todavía no está autorizado.</p>
    <p class="mb-0 ms-3">2) El pedido se autorizó pero se envió una cantidad de otro producto, por lo que no figura cantidad recibida en la tabla. Chequear memo para verificar si hubo un cambio de producto.</p>
  </div>
</div>
  </div>
</div>
{% endblock %}